body, html {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.stopwatch {
    background-color: #333;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: white;
    max-width: 400px;
    width: 100%;
}

.time-display {
    font-size: 48px;
    margin-bottom: 20px;
}

.controls {
    margin-bottom: 20px;
}

.controls button {
    background-color: #361212;
    color: rgb(18, 157, 74);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.controls button:hover {
    background-color: #298a88;
}

.lap-times {
    max-height: 200px;
    overflow-y: auto;
}

.lap-times ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.lap-times li {
    background-color: #c53737;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    font-size: 18px;
}
